[project]
	description = It does the things that is supposed to do
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Fundile (succeza)
[access "refs/for/refs/*"]
	read = group user/Fundile (succeza)
	push = group user/Fundile (succeza)
	label-Code-Review = -2..+2 group user/Fundile (succeza)
	label-Verified = -1..+1 group user/Fundile (succeza)
	rebase = group user/Fundile (succeza)
	removeReviewer = group user/Fundile (succeza)
	submit = group user/Fundile (succeza)
[access "refs/heads/*"]
	read = group user/Fundile (succeza)
	create = group user/Fundile (succeza)
	push = +force group user/Fundile (succeza)
	pushMerge = group user/Fundile (succeza)
[access "refs/tags/*"]
	push = group user/Fundile (succeza)
	push = +force group user/Fundile (succeza)
